@model Jurassic.AppCenter.Models.PasswordResetModel 
@{
   ViewBag.Title = ResHelper.GetStr("ChangePassword");
}

<div >
    <label>@Html.Str("UserName")</label>
    <label>@User.Identity.Name</label>
</div>
<div>
    <label>@Html.Str("Old+Password")</label>
    <input id="OldPassword" name="OldPassword" errormode="icon" class="mini-password"
           required="true" vtype="minLength:5" requirederrortext="@Html.Str("Password_Empty")" minlengtherrortext="密码不能少于5个字符" />
</div>

<div>
    <label>@Html.Str("New+Password")</label>
    <input id="Password" name="Password" errormode="icon"  class="mini-password"
           required="true" vtype="minLength:5" requirederrortext="@Html.Str("Password_Empty")" minlengtherrortext="密码不能少于5个字符" />
</div>
<div id="Password_error" class="showTips"></div>
<div >
    <label>@Html.Str("Confirm+Password")</label>
    <input id="ConfirmPassword" name="ConfirmPassword" errormode="icon" class="mini-password"
           required="true" vtype="minLength:5" requirederrortext="@Html.Str("ConfirmPassword_Empty")" minlengtherrortext="密码不能少于5个字符" />
</div>
<div class="mini-button frame-submit frame-default">
    @Html.Str("Modify+Password")
</div>
<script type="text/javascript">
    mini.parse();
</script>